.alert {
  margin-bottom: 16px;
}

.section {
  margin-bottom: 32px;
}

.emailOptin {
  width: 100%;
}

.amountPresets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.amountPreset {
  flex: 1 1 auto;
  margin: 0 8px 8px 8px;
}

.incentives {
  margin-top: 16px;
}

body>div>div>div>div>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 30px;
}

nav {
  display: none!important;
}

body>br {
  display: none!important;
}